@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    --cor7: #42A34A;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android:'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
    
    
}
header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
}
nav{
    background-color: var(--cor6);
    
    padding: 30px 10px 10px 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
    
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main h1{
    color: var(--cor6);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    color: var(--cor6);
    font-family: var(--font-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2),transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 1.5em;
}
main img{
    width: 100%;
}
main strong{
    color:var(--cor5);
    font-weight: bold;
    
}
main a {
    color: var(--cor6);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor2);
    padding: 2px 6px ;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin: 10px;
    padding: 10px;
    padding-bottom: 51.2%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.342);
}
aside> h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside >ul{
    list-style-type: '\1F5F8\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}